---
import BaseLayout from "./BaseLayout.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/PageTitle.astro";
import EditButton from "@components/EditButton.astro";
import CancelSaveButtons from "@components/CancelSaveButtons.astro";
import Editor from "@components/Editor";

export interface Props {
  key: string;
  title: string;
  description: string;
  pageTitle?: string;
}

const { key, title, description, pageTitle } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  mainClass="py-4"
>
  {pageTitle && <PageTitle title={pageTitle} />}

  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div data-auth="true" class="hidden w-full p-4 flex justify-center gap-2">
      <EditButton />
      <CancelSaveButtons contentKey={key} />
    </div>
    
    <Editor
      contentKey={key}
      client:only="solid-js"
    />

    <!-- Prose Content -->
    <article
      data-edit="false"
      class="prose max-w-none"
    >
      <slot />
    </article>

    <div data-auth="true" class="hidden w-full p-4 flex justify-center gap-2">
      <EditButton />
      <CancelSaveButtons contentKey={key} />
    </div>
  </div>

  <Footer slot="footer" />
</BaseLayout>

<script>
  import "@scripts/edit";
</script>
